@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@400;700&family=Playfair+Display&family=Plus+Jakarta+Sans&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;600&display=swap');

/*============================== DIFAULT SETTINGS ======================== */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color:#fff ;
    background-color: var(--bg-clr);
}

/*============================== CREATE ROOT DIRECTORY======================== */
:root{

/*============================== ASSIGN ELEMENTS FONT SIZE ======================== */
    
    --text-64 : 54px ;
    --text-52 : 52px ;
    --text-40 : 40px ;
    --text-36 : 36px ;
    --text-28 : 28px ;
    --text-24 : 24px;
    --text-20 : 20px ;
    --text-18 : 18px ;
    --text-16 : 16px ;
    --text-14 : 14px ;
    --text-12 : 12px ;

/*============================== ASSIGN ELEMETNS COLOR ======================== */

    --clr-23 : #232323;
    --clr-2B : #2B2C34;
    --clr-08 : #08080B;
    --clr-4D : #4D5566;
    --clr-59 : #594F43;
    --clr-00 : #000000;
    --clr-FC : #FCA61F;
    --clr-FF : #FFFFFF;
    --clr-73 : #73737D;
    --clr-F3 : #F3F2FF;
    --clr-001 : #001858;
    --clr-09 : #091427;
    --clr-40 : #403930;
    --clr-80 : #808080;
    --clr-D6 : #D6D6D6;
    --clr-ED : #EDC048;
    --clr-FFD : #FFDD00;
    --clr-FDB : #FFDDBF;
    --clr-FF8 : #FFF8F2;
    --clr-FFE : #FFFFFE;
    --clr-F9 : #FFF9F2;

/*============================== FONT FAMILY ======================== */

    --Inter : 'Inter', sans-serif;
    --Merriweather : 'Merriweather', serif;
    --Playfair :'Playfair Display', serif;
    --Jakarta : 'Plus Jakarta Sans', sans-serif;
    --Work : 'Work Sans', sans-serif;

}



/*============================== COMMON WORK ======================== */


.container{
    width:94%;
    margin:0 auto;
}

i{
    line-height: 0;
    display: inline-block;
    cursor: pointer;
}

.grid{
    display: grid;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.hero_title{
    font-size: var(--text-64) ;
    font-weight: 600;
    line-height: 125%;
    color:var(--clr-40);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
}

.section{
    position: relative;
    overflow: hidden;
}

.py-3{
    padding: 30px;
}

.details {
    font-size: 16px;
    line-height: 24px;
    color:var(--clr-73);
}

.btn{
    border:0;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
}

.btn-yellow{
    background-color: var(--clr-FC);
    color: var(--clr-FF);
}

/*============================== END COMMON WORK ======================== */

/*============================== DESIGN FOR NAVBAR STYLE ======================== */


.header{
    position: relative;
    min-width: 100%;
    background-color: var(--clr-F9);
    transition: .4s;
    padding: 15px;
}

.navbar-content,
.navbar_main-menu ul{
    column-gap: 20px;
}

.navbar_main-menu ul li a{
    position: relative;
    display: inline-block;
    color: var(--clr-2B);
    font-size: var(--text-16);
    font-weight: 600;
    transition: .4s;
}

.navbar_main-menu ul li a::after{
    position: absolute;
    content: "";
    bottom:-2px;
    left:0;
    width:0;
    height: 2px;
    background-color: var(--clr-FC);
    transition: .4s;
}

.navbar_main-menu ul li a:hover,
.navbar_main-menu ul li a.active{
    color:var(--clr-FC);
}

.navbar_main-menu ul li a:hover::after,
.navbar_main-menu ul li a.active::after{
    width: 70%;
}

.navbar-button .form-btn .nav-btn{
    padding: 10px 17px;
    border-radius: 4px;
    column-gap: 3px;
    font-size: 14px;
    font-weight: 500;
}
.close_menu ,
.show_menu{
    display: none;
    font-size: var(--text-24);
    color:var(--clr-00);
}
.show_menu{
    margin-left: 15px;
}

/*============== SHOW MENU CONTENT =================*/
.mobile_navbar-content .navbar_main-menu{
    right: 0;
}



/*============================ HERO SECTION DESIGN ==========================*/

#hero{
    position: relative;
    min-width:100%;
    padding-top: 40px;
    background: linear-gradient(180deg, #FFF2C5 0%, rgba(250, 250, 250, 0) 100%);
    backdrop-filter: blur(250px);
    display: flex;
    align-items: flex-end;
    padding-left: 72px;
}

.hero-content{
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.hero-details .hello_btn{
    padding:12px 24px;
    border-radius: 10px;
    background-color: var(--clr-FFD);
}

.btn-group{
    justify-content: start !important;
}

.hero_btn{
    width:250px;
    height: 70px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
}

.btn_bdr{
    background-color: transparent;
    border: 3px solid var(--clr-00);
    margin-left: 20px;
}
.hero_img-contents{
    text-align: right;
}
.hero_img-contents .img-content{
    display: inline-block;
    position: relative;
}

.img-content .back-img{
    display: inline-block;
    position: absolute;
    top:-20px;
    right:30px;
    z-index: -1;
}

.img-content .btn{
    display: inline-block;
    position: absolute;
    top:120px;
    right:30px;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: var(--clr-FF);
    color:var(--clr-00);
}

.img-content .design_btn{
    right:10px;
    margin-top: 120px;
}


/*============================ RESPONSIVE DESIGN ==========================*/
@media screen and (max-width: 1400px) {
    
    .img-content img{
        width:500px;
        height: auto;
    }

}

@media screen and (max-width: 1080px) {

/*============================ NAVBAR DESIGN ==========================*/

    .navbar_main-menu ul li a{
        font-size: var(--text-14);
    }

/*============================ HERO DESIGN ==========================*/

    .hero_btn{
        width:200px;
        height: 60px;
        border-radius: 10px;
    }

    .hero_title{
        font-size: var(--text-40);
    }

    .img-content img{
        width:400px;
        height: auto;
    }

    .img-content .btn{
        top:90px;
        padding:10px 15px;
    }
    
}

@media screen and (max-width: 992px) {

/*============================ NAVBAR DESIGN ==========================*/

    .navbar_main-menu{
        position: fixed;
        right: -100%;
        top:0;
        width:55%;
        min-height: 100vh;
        background-color:var(--clr-FF8);
        padding: 60px 30px 30px 30px;
        border-radius: 15px 0px 0px 15px;
        box-shadow: -2px 0 10px rgba(73, 73, 73, 0.4);
        justify-content: flex-start !important;
        align-items: flex-start;
        transition: .5s;
        z-index: 999;
    }
    .navbar_main-menu ul{
        flex-direction: column;
        row-gap: 15px;
        align-items: flex-start !important;
    }
    .navbar_main-menu  .close_menu{
        position: absolute;
        top:20px;
        left:30px;
    }
    .close_menu ,
    .show_menu{
        display: inline-block;
    }

/*============================ HERO DESIGN ==========================*/
    
    .hero_title{
        font-size: var(--text-36);
    }
    .hero_btn{
        width:160px;
        height: 45px;
        border-radius: 8px;
        font-size: var(--text-16);
    }

    .img-content img{
        width:310px;
        height: auto;
    }
    .img-content .btn{
        top:60px;
        right: 20px;
        padding:8px 12px;
        font-size: var(--text-14);

    }
    .img-content .design_btn{
        margin-top: 80px;
        right: 8px;
    }
    
}

@media screen and (max-width: 767px) {

/*============================ NAVBAR DESIGN ==========================*/

    .navbar-button .form-btn .nav-btn{
        padding: 7px 10px;
    }
    
    .show_menu{
        margin-left: 8px;
    }


    /* .hero-content{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
    .hero_img-contents{
        
        grid-row-start: 1;

    }
    .hero_img-contents .img-content{
        text-align: center;
    }
    .img-content .btn{
        top:70px;
    } */
}
@media screen and (max-width: 575px) {

/*============================ NAVBAR DESIGN ==========================*/

    .navbar-button .form-btn .nav-btn{
        padding: 5px 8px;
        font-size: 12px;
    }
    .navbar-logo a img{
        width:80%;
    }
}