@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@400;700&family=Playfair+Display&family=Plus+Jakarta+Sans&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;600&display=swap');

/*============================== DIFAULT SETTINGS ======================== */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-clr);
}

/*============================== CREATE ROOT DIRECTORY======================== */
:root{

/*============================== ASSIGN ELEMENTS FONT SIZE ======================== */
    
    --text-64 : 54px ;
    --text-52 : 52px ;
    --text-45 : 45px ;
    --text-40 : 40px ;
    --text-36 : 36px ;
    --text-32 : 32px ;
    --text-28 : 28px ;
    --text-24 : 24px;
    --text-20 : 20px ;
    --text-18 : 18px ;
    --text-16 : 16px ;
    --text-14 : 14px ;
    --text-12 : 12px ;

/*============================== ASSIGN ELEMETNS COLOR ======================== */

    --clr-23 : #232323;
    --clr-2B : #2B2C34;
    --clr-08 : #08080B;
    --clr-4D : #4D5566;
    --clr-59 : #594F43;
    --clr-00 : #000000;
    --clr-FC : #FCA61F;
    --clr-FF : #FFFFFF;
    --clr-73 : #73737D;
    --clr-F3 : #F3F2FF;
    --clr-001 : #001858;
    --clr-4E : #4E5E80;
    --clr-09 : #091427;
    --clr-40 : #403930;
    --clr-80 : #808080;
    --clr-D6 : #D6D6D6;
    --clr-ED : #EDC048;
    --clr-FFD : #FFDD00;
    --clr-FDB : #FFDDBF;
    --clr-FF8 : #FFF8F2;
    --clr-FFE : #FFFFFE;
    --clr-F9 : #FFF9F2;
    --clr-11 : #111827;
    --clr-64 : #648E9E;
    --clr-07 : #0078FF;
    --clr-C0 : #C07E63;
    --clr-B4 : #B49467;
    --clr-74 : #746FA7;
    --clr-9E : #9E69AA;
    --clr-14 : #14142B;
    --clr-rgba1 : rgba(8, 8, 11, 0.15);
    --swiper-theme-color: #232323; 

/*============================== FONT FAMILY ======================== */

    --Inter : 'Inter', sans-serif;
    --Merriweather : 'Merriweather', serif;
    --Playfair :'Playfair Display', serif;
    --Jakarta : 'Plus Jakarta Sans', sans-serif;
    --Work : 'Work Sans', sans-serif;

}



/*============================== COMMON WORK ======================== */


.container{
    width:93%;
    margin:0 auto;
}

i{
    line-height: 0;
    display: inline-block;
    cursor: pointer;
}

.grid{
    display: grid;
}
.span-2{
    grid-column: span 2;
}
.span-3{
    grid-column: span 3;
}
.img-fluid{
    width: 100%;
    height: 100%;
}

.hero_title{
    font-size: var(--text-64) ;
    font-weight: 600;
    line-height: 125%;
    color:var(--clr-40);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
}

.section{
    position: relative;
    overflow: hidden !important;
}

.py-3{
    padding: 30px;
}

.details {
    font-size: 16px;
    line-height: 24px;
    color:var(--clr-73);
}

.btn{
    border:0;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
}

.btn-yellow{
    background-color: var(--clr-FC);
    color: var(--clr-FF);
}
.fixed_btn{
    position: fixed;
    bottom: 40px;
    right:40px;
    padding:10px;
    background-color:var(--clr-64);
    border-radius: 3px;
    transition: .5s;
    display: none;
}
.fixed_btn i{
    font-size: var(--text-24);
    color:var(--clr-FF);
}

/*============================== END COMMON WORK ======================== */

/*============================== NAVBAR LAYTOUT DESIGN ======================== */


.header{
    position: relative;
    min-width: 100%;
    background-color: var(--clr-F9);
    transition: .4s;
    padding: 15px 0;
}

.navbar-content,
.navbar_main-menu ul{
    column-gap: 20px;
}

.navbar_main-menu ul li a{
    position: relative;
    display: inline-block;
    color: var(--clr-2B);
    font-size: var(--text-16);
    font-weight: 600;
    transition: .4s;
}

.navbar_main-menu ul li a::after{
    position: absolute;
    content: "";
    bottom:-2px;
    left:0;
    width:0;
    height: 2px;
    background-color: var(--clr-FC);
    transition: .4s;
}

.navbar_main-menu ul li a:hover,
.navbar_main-menu ul li a.active{
    color:var(--clr-FC);
}

.navbar_main-menu ul li a:hover::after,
.navbar_main-menu ul li a.active::after{
    width: 70%;
}

.navbar-button .form-btn .nav-btn{
    padding: 10px 17px;
    border-radius: 4px;
    column-gap: 3px;
    font-size: 14px;
    font-weight: 500;
}
.navbar-button .form-btn .nav-btn:hover .animation{
    animation: bottle .5s linear 2;
}

@keyframes bottle{
    0%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(1px);
    }
    60%{
        transform: translateX(-1px);
    }
    100%{
        transform: translateX(0);
    }
}

.close_menu ,
.show_menu{
    display: none;
    font-size: var(--text-24);
    color:var(--clr-00);
}
.show_menu{
    margin-left: 15px;
}

/*============== SHOW MENU CONTENT =================*/
.mobile_navbar-content .navbar_main-menu{
    right: 0;
}



/*============================ HERO SECTION LAYTOUT DESIGN ==========================*/

#hero{
    position: relative;
    min-width:100%;
    padding-top: 60px;
    background: linear-gradient(180deg, #FFF2C5 0%, rgba(250, 250, 250, 0) 100%);
    backdrop-filter: blur(250px);
    display: flex;
    align-items: flex-end;
    padding-left: 48px;
    overflow: hidden !important;

}

.hero-content{
    position: relative;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.hero-content .vision{
    position: absolute;
    top:0;
    right:60px;
    display: inline-block;
    background-color: transparent;
    z-index: 99;
}
.light_vision{
    display: none !important;
}
.hero-details .hello_btn{
    padding:12px 24px;
    border-radius: 10px;
    background-color: var(--clr-FFD);
}

.btn-group{
    justify-content: start !important;
}

.hero_btn{
    width:250px;
    height: 70px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
}

.btn_bdr{
    background-color: transparent;
    border: 3px solid var(--clr-00);
    margin-left: 20px;
}
.hero_img-contents{
    position: relative;
    text-align: right;
}
.hero_img-contents .img-content{
    display: inline-block;
    position: relative;
}
.img-content img{
    width:500px;
    height: auto;
}
.img-content .back-img{
    display: inline-block;
    position: absolute;
    top:-20px;
    right:30px;
    z-index: -1;
}

.img-content .btn{
    display: inline-block;
    position: absolute;
    top:120px;
    right:30px;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: var(--clr-FF);
    color:var(--clr-00);
}

.img-content .design_btn{
    right:10px;
    margin-top: 120px;
}

/*============================ BLOG IMAGE CHANGES ==========================*/

.blog_content .hero_img-contents{
    height: 460px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.blog_content .img-content img{
    width:620px;
    height: auto;
}

.blog_content .img-content .back-img img{
    width:360px;
    height: auto;
    object-fit: cover;
}

.blog_content .img-content .back-img{
    top:-55px;
    right:155px;
}

/*============================ PODECAST IMAGE CHANGES ==========================*/

.podecast#hero{
    padding-top: 70px;
}
.podecast .vision{
    top:-40px;
    right:20px;
}
.hero-details h3{
    font-size: var(--text-52);
    line-height: 60px;
    font-weight: 400;
}
.hero-details p{
    font-size: var(--text-18);
    line-height: 27px;
    margin:20px 0 40px;
}
.podecast_img-content{
    width:490px;
    height: 480px;
    background-image: url('../img/podcast/Ellipse\ 2.png');
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.podecast_img-content img{
    width:350px;
    height: auto;
}
/*============================ CASE SECTION LAYTOUT DESIGN ==========================*/


.CaseStudies{
    min-width: 100%;
    background: linear-gradient(180deg, #EFF0F3 0%, rgba(255, 221, 191, 0) 100%);
    padding:84px 0;
}.sec_boxes{
    padding: 80px 0;
}
.case_title h2{
    color: var(--clr-40);
    font-size: var(--text-40);
    font-weight: 600;
}
.case_title a{
    display: inline-flex;
    justify-content: start;
    column-gap: 4px;
    text-transform: capitalize;
    color: var(--clr-2B);
    margin: 32px 0;
}
.case_title a i{
    transition: .4s;
}
.case_title a:hover i{
    transform: translateX(4px);
}
.cases .single_case{
    position: relative;
   grid-template-columns: 1fr 1fr;
   column-gap: 76px;
   height: 400px;
   align-items: center; 
   background-color: var(--clr-F9);
   border-radius: 24px;
   padding-left: 72px;
   margin: 28px 0;
   overflow: hidden;
}
.single_case .case_picture{
    height: inherit;
    position: absolute;
    top:0;
    right:0;
    display: flex;
    align-items: center;
}
.case_picture .pictures{
    width:590px;
    height: 400px;
    background-size: cover;
    object-fit: cover;
}
.case_picture .picture1{
    background-image: url('../img/home/Mask\ group.png');
}
.case_picture .picture2{
    width:509px;
    height: 318px;
    background-image:  url('../img/home/Home\ 1.png');
}
.case_picture .picture3{
    background-image:url('../img/home/Mask\ group\ \(1\).png');
}
.single_case h3{
    font-size: var(--text-32);
    font-weight: 600;
    color: var(--clr-40);
}
.single_case p{
    font-size: var(--text-20);
    font-weight: 500;
    line-height: 150%;
    color:var(--clr-59);
    margin: 24px 0;
}
.single_case a{
    font-size: var(--text-20);
    color:var(--clr-4E);
}
/*============================ CASE BOXES SECTION LAYTOUT DESIGN ==========================*/

.sec_boxes{
    padding: 80px 0;
    overflow: hidden;
}
.grid-boxes{
    grid-template-columns: repeat(3,1fr);

    gap: 20px;
}
.single-box{
    position: relative;
    padding:40px;
    height: 395px;
    display: flex;
    overflow: hidden;
    border-radius: 28px;
}

.box1{
    background: linear-gradient(109.56deg, #CCFBF1 8.75%, #BBDCE9 101.85%, #99F6E4 101.85%);
}
.box2{
    background: linear-gradient(128.14deg, #FFEDD5 2.71%, #FED7AA 97.55%);
}
.box3{
    background: linear-gradient(127.16deg, #FEF9C3 3.85%, #FEF08A 95.73%);
}
.box4{
    background: linear-gradient(109.56deg, #F3E8FF 8.75%, #D8B4FE 101.85%);
}
.box5{
    background: linear-gradient(180deg, #DDD6FE 0%, #A78BFA 100%);
}


.grid_single-box {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.single-box .btn-box{
    position: absolute;
    top:40px;
    left:40px;
    padding:16px 30px;
    background-color: var(--clr-F9);
    border-radius: 30px;
}

.box-texts .blog_btn{
    background: linear-gradient(93.54deg, #AF51C5 5.09%, #6E297E 91.93%);
    display: inline-block;
    padding:14px 35px;
    border-radius: 5px;
    font-size: var(--text-14);
    color: var(--clr-F9);
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 24px;
    transition: all 0.7s ;
}
.box-texts .blog_btn:hover{
    background: linear-gradient(93.54deg, #d864bb 5.09%, #592964 91.93%);
}
.box-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-details p{
    font-size: var(--text-14);
}

.box-texts h4{
    font-size: var(--text-24);
    font-weight: 600;
    color:var(--clr-11);
}
.box-texts p{
    font-size: var(--text-14);
    margin-top: 18px;
}
.box-texts p a{
    color:var(--clr-07);
}
.box1 .box-texts p,
.single-box.box1 .btn-box{
    color: var(--clr-64);
}

.box2 .box-texts p,
.single-box.box2 .btn-box{
    color: var(--clr-C0);
}

.box3.box-texts p,
.single-box.box3 .btn-box{
    color: var(--clr-B4);
}

.box4 .box-texts p,
.single-box.box4 .btn-box{
    color: var(--clr-74);
}

.box5 .box-texts p,
.single-box.box5 .btn-box{
    color: var(--clr-9E);
}

.box-img img{
    background-position: center;
    object-fit: cover;
}

.blog-img .img{
    width:520px;
    height: 402px;
    background-image: url('../img/home/Images\ \(1\).png');
    background-size: cover;
}
.box-img .fixed-top{
    transform: translateY(-113px) translateX(-70px);
}
.box-img .fixed-bottom{
    transform: translateY(49px) translateX(-40px);
}
.box-details .box-images{
    margin-bottom: 50px;
}
.box-details .box-images div{
    background-color: var(--clr-F9);
    padding:27px;
    border-radius: 50%;
    line-height: 0;
}
.box-details .box-images .small{
    padding:15px;
    transform: translateY(18px);
}

.box-details .box-images div img {
    width:48px;
    height: 48px;
}

.box-details .box-images .small img{
    height: 28px;
    width: 28px;
}
.box-images img:first-child{
    width: 144px;
}
.box-images img:last-child{
    width: 324px;
}

/*============================ SUBSCRIBE SECTION LAYTOUT DESIGN ==========================*/

.subscribe{
    position: relative;
    background: linear-gradient(180deg, #FFF2C5 0%, #FFFFFF 100%);
    padding:50px 0 140px;
    font-family: var(--Jakarta);

}

.subs_icon{
    display: inline-flex !important;
    width: 130px;
    height: 130px;
    background-color: var(--clr-FF);
    border-radius: 50%;
    margin-bottom: 30px;
}

.subs_icon img{
    width: 80px;
    height: 105px;
}

.subs_details h2{
    font-size: var(--text-36);
    font-weight: 700;
}

.subs_details p{
    font-size: var(--text-20);
    color: var(--clr-4D);
    margin-top: 10px;
}

.subs_form{
    margin-top: 30px;
}

.subs_form .form-group input,
.subs_form .form-group button{
    font-family: var(--Jakarta);
}

.subs_form .form-group input{
    width: 445px;
    height: 45px;
    outline: 0;
    border: 2px solid var(--clr-4D);
    border-radius: 8px;
    padding-left: 16px;
    color: #333;
}

.subs_form .form-group button{
    height: 45px;
    padding: 0 25px;
    border-radius: 8px;
    font-size: var(--text-16);
    font-weight: 500;
    margin-left: 20px;
}

/*============================ WORKING SECTION LAYTOUT DESIGN ==========================*/

.work_content{
    position: relative;
    background: linear-gradient(270.69deg, #EFF0F3 3%, rgba(239, 240, 243, 0) 91.62%);
    height: 420px;
    margin-right: 20px;
    border-radius: 20px;
    padding-right: 20px;
    overflow: visible;
}

.work_content .work-img{
    transform: translatey(-62px);
}

.work_content .work-img img{
    width:600px;
    height: 550px;
}

.work_details h2{
    font-size: var(--text-45);
    font-weight: 600;
}

.work_details button{
    padding: 16px 50px;
    border-radius: 16px;
    border-color: var(--clr-4D);
    color: var(--clr-4D);
    font-size: var(--text-18);
    font-weight: 600;
    margin-top: 30px;
    margin-left: 0;
}


/*============================ BLOG SECTION LAYOUT DESIGN ==========================*/
#blogs{
    padding:30px 0;
    background-color:whitesmoke;
    overflow: hidden;
}

.layout_grids{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 34px;
    margin-bottom: 45px;
}

.layout_grids button{
    padding:6px;
    border-radius: 50%;
}

.layout_grids button i{
    font-size: var(--text-32);
    color:var(--clr-80);
    transition: .3s;

}

.layout_grids button.active i,
.layout_grids button:hover i{
    color:var(--clr-07);
}

.single_content .blog_details{
    padding:20px 80px 20px 0;
}

.single_content .blog_details h3 a{
    font-family: var(--Merriweather);
    font-size: var(--text-24);
    font-weight: 700;
    line-height: 30px;
    color:var(--clr-08);
}

.single_content .blog_details p,
.single_content .blog_details a
{
    font-family: var(--Playfair);
    font-size: var(--text-16);
    line-height: 24px;
    color:var(--clr-73);
}

.single_content .blog_details p{
    margin:10px 0;
}

.single_content .blog_details a{
    color: var(--clr-rgba1);
    transition: .3s;
    word-spacing:5px;
}

.single_content .blog_details a:hover{
    color:var(--clr-64);
}

.pagination li a{
    color:var(--clr-73);
    transition: .3s;
}

.pagination li a:hover,
.pagination li a.active{
    color:var(--clr-00);
}

.pagination li.disabled{
    cursor:default;
    color:var(--clr-80);
}

/*======BLOG LIST CONTENT DESIGN=======*/

.blogs_content.blogH{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}

.blogs_content.blogH .h-3{
    grid-column: span 3;
}

.blogs_content.blogH .h-2{
    grid-column: span 2;
}

.blogH .content_img{
    height: 280px;
}

.blogH .content_img img{
    object-fit: cover;
    background-position: center;
}



/*======BLOG LIST CONTENT DESIGN=======*/

#blogs .list .single_content{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    column-gap: 80px;
    margin: 30px 0;
}

.list .single_content .content_img{
    height: 230px;
    grid-column: span 2;
}

.list .single_content .blog_details{
    grid-column: span 2;
}

/*====== BLOG POST CONTENT DESIGN=======*/

.post_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}
.post_title h2{
    font-family: var(--Merriweather);
    font-size: var(--text-45);
    font-weight: 700;
    line-height: 60px;
    color:var(--clr-00);
    width:700px;
    text-align: center;
}
.post_title a{
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    font-size:var(--text-16);
    color:var(--clr-73);
    font-family:var(--Playfair);
    margin-top: 20px;
}
.post_hero .vision{
    top:30px;
}
.posts{
    margin-top: 50px;
}

.posts{
    height: 380px;
    overflow: hidden;
}
.swiper {
    width: 100%;
    height: 100%;
  }

.post_img {
    text-align: center;
    height: 380px;
    width: 70%;
}

.post_img img{
    object-fit: cover;
    background-position: center ;
}

.mySwiper{
    padding:0 40px;
}

.mySwiper .swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-vertical>.swiper-pagination-progressbar {
    width: 2px;
    height: 100%;
    left: 70px;
    top: 0;
}

/*============================ POST CONTENT SECTION SECTION LAYOUT DESIGN ==========================*/

.post_content {
    margin-top: 80px;
    overflow: hidden;
}

.post_texts blockquote{
    margin: 40px 260px;
}

.post_texts blockquote p{
    margin:30px 0;
    color:var(--clr-80);
}

.post_texts h2{
    margin: 0 210px;
    font-size:var(--text-36);
    font-weight: 700;
    line-height: 135%;
    font-family: var(--Merriweather);
}

.post_texts blockquote p,
.post_texts h4{
    font-size: var(--text-18);
    line-height: 175%;
    font-family: var(--Jakarta);
}

.divider .dr{
    width:70%;
    height: 1px;
    background-color:var(--clr-73);
}

.divider a{
    color:var(--clr-73);
    line-height: 136%;
    font-size:var(--text-16);
}

.post_time{
    margin-top: 10px;
}
.post_time a{
    color:  var(--clr-40);
    font-size: var(--text-14);
}

.post_content a:hover{
    color:var(--clr-4D);
}

/*============================ PODCASTS SECTION LAYOUT DESIGN ==========================*/

.podcast_av{
    padding:40px 0;
}

.av_content .av_title h4{
    font-size: var(--text-24);
    font-weight: 600;
    line-height: var(--text-36);
    font-family: var(--Inter);
    letter-spacing: -1px;
}

.av_servers ul li{
    display: inline-block;
    margin-left:40px;
    padding: 10px;
    transition: .3s;
    border-radius: 5px;
}

.av_servers ul li:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.av_servers ul li:first-child{
    margin: 0;
}

.av_servers ul li a span{
    font-family: var(--Inter);
    font-size:var(--text-16);
    font-weight: 600;
    color: var(--clr-14);
    margin-left: 10px;
}

/*============================ PODCASTS GRAPH SECTION LAYOUT DESIGN ==========================*/

.graph{
    padding: 120px 0 48px;
}

.graph_content{
    grid-template-columns: repeat(4,1fr);
    gap: 20px ;
}

.single_graph{
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:64px 40px;
}

.single_graph.blue{
    background-color: #4617AB;
}
.single_graph.green{
    background-color:#8000ff;
}
.single_graph.yellow{
    background-color:#1A04D3;
}
.single_graph.red{
    background-color:#AC1B75;
}


.single_graph.up{
    transform: translateY(-80px);
}


.graph_img{
    text-align: center;
}

.graph_img img{
    width:128px;
    height: 128px;
}

.graph_text{
    color: var(--clr-F3);
    font-family: var(--Inter);

}
.graph_text h2,
.graph_text h3{
    font-weight: 700;
    line-height: 120%;
}

.graph_text h2{
    font-size:var(--text-45);
}

.graph_text h3{
    font-size: var(--text-28);
}

/*--==================================== PODCASTS EPISODE SECTION LAYOUT DESIGN ================================= */

.episodes{
    font-family: var(--Inter);
    color: var(--clr-14);

}

.episode_description{
    grid-template-columns: repeat(3,1fr);
}

.episode_description h2{
    font-size: var(--text-32);
    font-weight: 700;
    line-height: 120%;
}

.episode_description p{
    font-size: var(--text-16);
    line-height: 150%;
    margin-top:16px;
}

.episode_content{
    margin: 64px 0;
    grid-template-columns: repeat(3,1fr);
    column-gap: 16px;
    row-gap: 30px;
}

.single_episode{
    position: relative;
    transition: .4s;
    border-radius: 4px;
}

.single_episode:hover{
    box-shadow: 0 0 30px rgba(85, 65, 199, 0.2);
}

.single_episode .ep_img{
    position: relative;
}

.single_episode .ep_img .mic{
    position: absolute;
    top:20px;
    right:20px;
}

.ep_details{
    padding:20px ;
}

.ep_details h3 a{
    font-size: var(--text-24);
    font-weight: 600;
    line-height: 30px;
    color: var(--clr-14);
}

.ep_details p{
    margin:15px 0;
}

.ep_details .flex{
    display: inline-flex;
    column-gap: 8px;
    color:var(--clr-14);
}

.ep_details a{
    transition: .3s;
}

.ep_details a:hover{
    color:var(--clr-64);
}

/*============================ SINGLE PODCAST HERO SECTION LAYOUT DESIGN ==========================*/

.signle_podcast-hero{
    padding: 40px 0;
    font-family: var(--Inter);
}

.single_hero-content{
    grid-template-columns: repeat(2,1fr);
    gap:16px;
    align-items: center;
}

.podcast_hero-img{
    position: relative;
}

.podcast_hero-img a{
    position: absolute;
    top:20px;
    right:20px;
}

.podcast_hero-text a{
    text-transform: uppercase;
    color:#503AE7;
    font-weight: 600;
}

.podcast_hero-text h2{
    font-size: var(--text-32);
    line-height: 120%;
    font-weight: 700;
    color:var(--clr-14);
    margin:16px 0 28px;
}

.podcast_hero-text p{
    color:var(--clr-11);
}

.podecast_ep-btn{
    font-family: var(--Inter);
    padding: 14px 32px;
    margin-top: 30px;
    font-weight: 600;
}

.podecast_ep-btn span{
    margin-left: 10px;
}



/*--==================================== SINGLE PODCAST DETAILS SECTION STRUCTURE LAYOUT ================================= */

.episode_details{
    font-family: var(--Inter);
    color:var(--clr-14);
}

.episode_grid{
    grid-template-columns: repeat(3,1fr);
}

.episode_context{
    padding:30px 60px 120px;
}

.podecast_title{
    grid-template-columns: repeat(3,1fr);
}

.podecast_title h1{
    margin-left: 40px;
    font-size: var(--text-32);
    font-weight: 700;
    line-height: 120%;
}

.episode_context blockquote{
    margin:40px 0;
}

.episode_context blockquote p{
    margin: 20px 0;
    line-height: 150%;
}

.episode_context blockquote ul li{
    list-style: disc outside;
    margin: 10px 0;
}

.episode_context h2{
    font-size: var(--text-24);
    font-weight: 600;
    line-height: 125%;
}

.context_mekar{
    grid-template-columns: repeat(2,1fr);
    justify-items: start;
    align-items: center;
}

.context_mekar p{
    line-height: 24px;
}

.profile{
    /* text-align: center; */
    padding: 10px 0 10px 60px;
    border-left: 10px solid var(--clr-FC);
}

.profile h3{
    font-size: var(--text-24);
    font-weight: 700;
    line-height: 36px;
}

.profile div a{
    margin:0 10px;
    transition: .4s;
    display: inline-block;
}

.profile div a:hover{
    transform: translateY(-4px);
}

.listening{
    justify-self: center;
}

.listening h3{
    font-size: var(--text-24);
    line-height: 30px;
    font-weight: 600;
}

.listening ul{
    margin-top: 70px;
}

.listening ul li{
    display: block;
    margin: 20px 0;
    padding: 10px ;
    transition: .4s;
}

.listening ul li:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.listening ul li a{
    display: inline-flex;
    column-gap: 13px;
    color:var(--clr-14);
}
/*============================ FOOTER SECTION LAYOUT DESIGN ==========================*/

.footer{
    padding:60px 0 20px;
}

.follow{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    padding:10px 24px;
    background-color: var(--clr-FDB);
    border-radius: 10px;
    margin-bottom: 16px;
}

.follow span{
    font-size: 16px;
    font-weight: 600;
}

.links a{
    display: inline-block;
    margin:0 4px;
}

.links a img{
    width: 60px;
    height: auto;
}

.copyright p{
    font-size: var(--text-14);
}

/*============================ RESPONSIVE DESIGN ==========================*/
@media screen and (min-width: 1400px){
    .av_servers ul li{
        margin-left:87px;
    }
}

@media screen and (max-width: 1200px) {

    /*============================ RESPONSIVE SINGLE CASES DESIGN ==========================*/

    .cases .single_case{
        grid-template-columns: 1fr 1fr;
        column-gap: 76px;
        height: 300px;
    }

    .case_picture .pictures{
        width:440px;
        height: 302px;
        
    }

    .case_picture .picture2{
        width: 430px;
        height: 265px;
    }

    .single_case h3{
        font-size: var(--text-24);
    }

    .single_case p{
        font-size: var(--text-16);
    }

    .single_case a{
        font-size: var(--text-16);
    }

/*============================ RESPONSIVE CASE BOXES SECTION DESIGN ==========================*/
    .single-box{
        height: 302px;
    }

    .blog-img .img{
        width: 392px;
        height: 302px;
    }

    .box-img img{
        width: 150px;
        height: 225px;
    }

    .box-img .fixed-top{
        
        transform: translateY(-52px) translateX(-50px);
    }

    .box-img .fixed-bottom{
        transform: translateY(48px) translateX(-30px);
    }

    .box-details .box-images{
        margin-bottom: 18px;
    }

    .box-details .box-images div{
        padding:18px;
    }

    .box-texts h4{
        font-size: var(--text-18);
    }

    .box-texts p{
        margin-top: 12px;
    }

    .single-box .btn-box{
        top: 20px;
        left: 25px;
        padding: 14px 18px;
    }
    /*============================ RESPONSIVE WORKING SECTION DESIGN ==========================*/

    .work_content{
        height: 380px;
    }

    .work_details h2{
        font-size: var(--text-36);
        font-weight: 600;
    }

    .work_content .work-img img{
        width:550px;
        height: 510px;
    }

    /*============================ RESPONSIVE BLOG HERO SECTION DESIGN ==========================*/

    .blog_content .img-content img{
        width: 525px;
        height: auto;
    }

    .blog_content .img-content .back-img img{
        width:310px;
        height: auto;
        object-fit: cover;
    }

    .blog_content .img-content .back-img{
        top:-65px;
        right:130px;
    }

    /*============================ RESPONSIVE PODCAST HERO SECTION DESIGN ==========================*/

    .podecast_img-content{
        width:420px;
        height: 400px;
        
    }
    
    .podecast_img-content img{
        width:310px;
    }
}

@media screen and (max-width: 1080px) {

/*============================ RESPONSIVE NAVBAR DESIGN ==========================*/

    .navbar_main-menu ul li a{
        font-size: var(--text-14);
    }

/*============================ RESPONSIVE HERO SECTION DESIGN ==========================*/

    .hero_btn{
        width:200px;
        height: 60px;
        border-radius: 10px;
    }

    .hero_title{
        font-size: var(--text-40);
    }

    .img-content img{
        width:400px;
        height: auto;
    }

    .img-content .btn{
        top:90px;
        padding:10px 15px;
    }

/*============================ RESPONSIVE BOXES SECTION DESIGN ==========================*/

    .box-img img{
        width: 100px;
        height: 180px;
    }

    .box-img .fixed-top{
        
        transform: translateY(-102px) translateX(-25px);
    }

    .box-img .fixed-bottom{
        transform: translateY(47px) translateX(0px);
    }

    .single-box{
        height: 290px;
        padding: 20px;
    }

    .box-details .box-images div img {
        width:37px;
        height: 37px;
    }

    /*============================ RESPONSIVE PODCAST SECTION DESIGN ==========================*/

    .av_content .av_title h4{
        font-size: var(--text-18);
        line-height: var(--text-24);
    }
    
    .av_servers ul li a span{
        font-family: var(--Inter);
        font-size:var(--text-14);
        font-weight: 600;
        color:#14142B;
        margin-left: 10px;
    }

    /*============================ RESPONSIVE PODCAST GRAPH SECTION DESIGN ==========================*/

    /* .graph_content{
        grid-template-columns: repeat(3,1fr);
       
    } */
    .single_graph{
        height: 350px;
        padding:44px 20px;
    }
    
    .graph_text h2 {
        font-size: var(--text-36);
    }

    .graph_text h3 {
        font-size: var(--text-22);
    }

    .graph_img img{
        width:90px;
        height: 90px;
    }

    .podcast_hero-text h2{
        font-size: var(--text-28);
    }
    
    .podcast_hero-text p{
        color:var(--clr-11);
    }
    
    .podecast_ep-btn{
        margin-top: 20px;
    }

    .podecast_title{
        grid-template-columns: repeat(1,1fr);
    }
    
    .podecast_title .span-2{
        grid-column: span 1;
    }
  
    

}

@media screen and (max-width: 992px) {

/*============================ RESPONSIVE NAVBAR DESIGN ==========================*/

    .navbar_main-menu{
        position: fixed;
        right: -100%;
        top:0;
        width:55%;
        min-height: 100vh;
        background-color:var(--clr-FF8);
        padding: 60px 30px 30px 30px;
        border-radius: 15px 0px 0px 15px;
        box-shadow: -2px 0 10px rgba(73, 73, 73, 0.4);
        justify-content: flex-start !important;
        align-items: flex-start;
        transition: .5s;
        z-index: 999;
    }

    .navbar_main-menu ul{
        flex-direction: column;
        row-gap: 15px;
        align-items: flex-start !important;
    }

    .navbar_main-menu  .close_menu{
        position: absolute;
        top:20px;
        left:30px;
    }

    .close_menu ,
    .show_menu{
        display: inline-block;
    }

/*============================ RESPONSIVE HERO DESIGN ==========================*/
    
    .hero_title{
        font-size: var(--text-36);
    }

    .hero_btn{
        width:160px;
        height: 45px;
        border-radius: 8px;
        font-size: var(--text-16);
    }

    .img-content img{
        width:310px;
        height: auto;
    }

    .img-content .btn{
        top:60px;
        right: 20px;
        padding:8px 12px;
        font-size: var(--text-14);

    }

    .img-content .design_btn{
        margin-top: 80px;
        right: 8px;
    }

    /*============================ RESPONSIVE SINGLE CASES DESIGN ==========================*/
    .blog-img .img{
        width: 374px;
        height: 288px;
    }

    .cases .single_case{
        height: 260px;
    }

    .case_picture .pictures{
        width: 373px;
        height: 260px;
        
    }

    .case_picture .picture2{
        width: 364px;
        height: 230px;
    }

    .box-texts p{
        font-size: var(--text-12);
    }

    .box-images {
        margin-top: 10px;
    }

    .box-images img:first-child{
        width: 110px;
    }

    .box-images img:last-child{
        width: 245px;
    }
    
    /*============================ RESPONSIVE SUBSCRIPTION SECTION DESIGN ==========================*/

    .subs_details h2{
        font-size: var(--text-28);
    }

    .subs_details p{
        font-size: var(--text-16);
    }
    
    .subs_form .form-group input{
        width: 380px;
        height: 45px;
    }
    
    /*============================ RESPONSIVE WORKING SECTION DESIGN ==========================*/
    .work_content{
        height: 330px;
    }

    .work_details h2{
        font-size: var(--text-28);
    }

    .work_content .work-img img{
        width: 480px;
        height: 460px;
    }

    .work_details button{
        padding: 14px 40px;
        margin-top: 20px;
    }
    /*============================ RESPONSIVE BLOG HERO SECTION DESIGN ==========================*/
    .blog_content .hero_img-contents {
        height: 320px;
    }

    .blog_content .hero_img-contents{
        justify-content: flex-end;
        align-items: center;
    }

    .blog_content .img-content img{
        width: 355px;
        height: auto;
    }

    .blog_content .img-content .back-img{
        top: -50px;
        right: 65px;
    }

    .blog_content .img-content .back-img img{
        width:245px;
       
    }

    .single_content .blog_details{
        padding:20px 0 20px ;
    }

    /********main blog section*****/

     .blogH .content_img{
        height: 240px;
    }

    .single_content .blog_details h3 a{
        font-size: var(--text-20);
        line-height: 26px;
    }

    .single_content .blog_details p,
    .single_content .blog_details a
    {
        font-size: var(--text-14);
        line-height: 20px;
    }

    /*list blog*/

    #blogs .list .single_content{
        column-gap: 40px;
    }

    .list .single_content .content_img{
        height: 180px;
    }

    /*============================ RESPONSIVE POST SECTION DESIGN ==========================*/

    .post_title h2{
        font-size: var(--text-36);
        line-height: 50px;
        width:100%;
    }
    .posts{
        height: 310px;
    }
    .post_img {
        height: 310px;
    }

    /* .post_content {
        margin-top: 80px;
        overflow: hidden;
    } */
    .post_texts blockquote{
        margin: 20px 140px;
    }
    .post_texts blockquote p{
        font-size: var(--text-16);        
    }
    .post_texts h2{
        margin: 0 100px;
        font-size: var(--text-32);
    }
    .divider .dr{
        width: 60%;
    }
  
    /*============================ RESPONSIVE PODCAST HERO SECTION DESIGN ==========================*/
    
    .hero-details h3{
        font-size: var(--text-36);
        line-height: 40px;
    }
    
    .hero-details p{
        font-size: var(--text-16);
        line-height:var(--text-24);
    }

    .podecast_img-content{
        width: 320px;
        height: 310px;
        justify-self: center;
    }
    
    .podecast_img-content img{
        width:240px;
    }

    /*============================ RESPONSIVE PODCAST SECTION DESIGN ==========================*/

    .av_content .av_title h4{
        font-size: var(--text-16);
        line-height: var(--text-24);
    }

    .av_servers ul{
        white-space: nowrap;

    }

    .av_servers ul li{
        margin-left:20px;
    }
    
    .av_servers ul li a img{
         width:25px;
         height: auto;
     }

    .av_servers ul li a span{
        font-size:var(--text-14);
        margin-left: 5px;
    }

    
    /*============================ RESPONSIVE PODCAST GRAPH SECTION DESIGN ==========================*/
    .episode_description{
        grid-template-columns: repeat(2,1fr);
    }
    
    .episode_description .span-2{
        grid-column: span 1;
    }

    .ep_details h3 a{
        font-size: var(--text-18);
        line-height: 24px;
    }

    .ep_details{
        padding: 20px 10px;
    }
    /* .graph_content{
        grid-template-columns: repeat(2,1fr);
       
    } */

    .podcast_hero-text h2{
        font-size: var(--text-24);
        margin:10px 0;
    }
    
    .podcast_hero-text p{
        font-size: var(--text-14);
        line-height: 18px;
    }
    
    .podecast_ep-btn{
        margin-top: 14px;
    }
   
    .podecast_title h1 {
        margin-left: 20px;
        font-size: var(--text-28);
    }


    .context_mekar {
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
}

@media screen and (max-width: 767px) {

/*============================ RESPONSIVE NAVBAR DESIGN ==========================*/

    .navbar-button .form-btn .nav-btn{
        padding: 7px 10px;
    }
    
    .show_menu{
        margin-left: 8px;
    }

    /*============================ RESPONSIVE HERO SECTION DESIGN ==========================*/

    #hero{
        padding:40px;
    }
    .hero-content{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
    
    .hero_img-contents{
        grid-row-start: 1;
        text-align: center;
    }
    
    /*============================ RESPONSIVE SINGLE CASES SECTION DESIGN ==========================*/
    .CaseStudies{
        
        padding:40px 0;
    }

    .cases .single_case{
        height: 225px;
        padding-left: 40px;
    }

    .case_picture .pictures{
        width: 306px;
        height: 225px;
    }

    .case_picture .picture2{
        width: 300px;
        height: 190px;
    }

    .single_case h3{
        font-size: var(--text-20);
    }

    .single_case p,
    .single_case a{
        font-size: var(--text-14);
    }

    .single_case p{
        margin: 10px 0;
    }

/*============================ RESPONSIVE CASE BOXES SECTION DESIGN ==========================*/

    .sec_boxes{
        padding: 40px 0;
    }

    .grid-boxes{
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
        row-gap: 20px;
    }

    .single-box{
        padding:30px;
        height: 242px;
        grid-column: span 2;
    }

    .blog-img .img{
        display: none;
    }

    .box-img img{
        width: 100px;
        height: 140px;
    }

    .box-img .fixed-bottom{
        transform: translateY(34px) translateX(0px);
    }

    .box-texts p{
        font-size: var(--text-14);
    }

    /*============================ RESPONSIVE WORKING SECTION DESIGN ==========================*/
    .work_content{
        height: 250px;
    }

    .work_details h2{
        font-size: var(--text-20);
    }

    .work_content .work-img img{
        width: 360px;
        height: 380px;
    }

    .work_details button{
        padding: 14px 40px;
        margin-top: 20px;
        font-size: var(--text-14);
    }

    /*============================ RESPONSIVE BLOG HERO SECTION DESIGN ==========================*/

    .blog_content .hero_img-contents{
        height: 320px;
        justify-content: center;
        align-items: center;
    }

    .blog_content .img-content img{
        width: 395px;
    }

    .blog_content .img-content .back-img{
        top: -50px;
        right: 85px;
    }

   /********main blog section*****/
   .blogs_content.blogH{
        gap:20px;
    }

     .blogH .content_img{
        height: 140px;
    }
    .single_content .blog_details h3 a{
        font-size: var(--text-16);
        line-height: 26px;
    }

    .single_content .blog_details p,
    .single_content .blog_details a
    {
        font-size: var(--text-14);
        line-height: 20px;
    }

    .list .single_content .blog_details p{
        margin: 0;
    }

    #blogs .list .single_content{
        column-gap: 20px;
    }

    /*list blog*/

    .list .single_content .content_img{
        height: 140px;
    }

    .list .single_content .blog_details h3{
        font-size: var(--text-14);
        line-height: 26px;
    }

    .list .single_content .blog_details p,
    .list .single_content .blog_details a
    {
        font-size: var(--text-12);
    }

    /*============================ RESPONSIVE POST SECTION DESIGN ==========================*/
    
    .post_title h2{
        font-size: var(--text-28);
        line-height: 40px;
    }
    
    .posts{
        height: 240px;
        margin-top: 30px;
    }
    
    .post_img {
        width:80%;
        height:240px;
    }
    
    .post_title a{
        margin-top: 8px;
    }

    .post_content {
        margin-top: 30px;
    }
    
    .post_texts blockquote{
        margin: 20px 80px;
    }
    
    .post_texts blockquote p{
        font-size: var(--text-16);        
    }
    
    .post_texts h2{
        margin: 0 30px;
        font-size: var(--text-24);
    }
    
    .divider .dr{
        width: 50%;
    }
    
    .divider a{
        font-size: var(--text-14);
    }

    /*============================ RESPONSIVE PODECASE HERO SECTION DESIGN ==========================*/

    .hero-details h3{
        font-size: var(--text-32);
        line-height: 40px;
    }

    .hero-details p{
        font-size: var(--text-16);
        line-height:var(--text-24);
    }

    .podecast .vision{
        right:-15px;
    }

    /*============================ RESPONSIVE PODCAST SECTION DESIGN ==========================*/
    .av_content{
        flex-direction: column;
        row-gap: 20px;
    }
    .av_content .av_title h4{
        font-size: var(--text-16);
        line-height: var(--text-24);
    }

    .av_servers ul{
        white-space: normal;
        text-align: center;
    }
    
    .av_servers ul li{
        margin:4px 20px;
    }
    
    .av_servers ul li a img{
         width:25px;
         height: auto;
     }

    .av_servers ul li a span{
        font-size:var(--text-14);
        margin-left: 5px;
    }

    .graph_content{
        grid-template-columns: repeat(2,1fr);
    } 

    .episode_description{
        grid-template-columns: repeat(1,1fr);
    }
    
    .episode_content{
        grid-template-columns: repeat(2,1fr);
    }

    .single_hero-content{
        grid-template-columns: repeat(1,1fr);
    }
    
    .podcast_hero-text{
        padding-right: 80px;
    }
    
    .episode_grid{
        grid-template-columns: repeat(1,1fr);
    }

    .episode_grid .span-2 {
        grid-column: span 1;
    }

    

    .listening ul{
        margin: 30px 0;
        text-align: center;
    }
    
    .listening ul li{
        display: inline-block;
        margin:10px;
    }
    
    .listening ul li a img{
        width:25px;
        height: auto;
    }

}

@media screen and (max-width: 575px) {

/*============================ RESPONSIVE NAVBAR DESIGN ==========================*/

    .navbar-button .form-btn .nav-btn{
        padding: 5px 8px;
        font-size: 12px;
    }
    .navbar-logo a img{
        width:80%;
    }

    /*============================ RESPONSIVE HERO SECTION DESIGN ==========================*/

    .hero_title{
        font-size: var(--text-24);
    }

    /*============================ RESPONSIVE SINGLE CASES DESIGN ==========================*/

    .cases .single_case{
        height: 185px;
    }

    .case_picture .pictures{
        width: 250px;
        height: 185px;
    }

    .case_picture .picture2{
        width: 244px;
        height: 144px;
    }

    .single-box .btn-box{
        top: 15px;
        left: 15px;
        padding: 10px 15px;
        font-size: var(--text-12);
    }

    .box-texts h4{
        font-size: var(--text-16);
    }

    .box-texts p {
        margin-top: 8px;
    }

    /*============================ RESPONSIVE SUBSCRIPTION SECTION DESIGN ==========================*/

    .subs_details h2{
        font-size: var(--text-24);
    }

    .subs_details p{
        font-size: var(--text-14);
    }
    
    .subs_form .form-group input{
        width: 270px;
        height: 45px;
    }

    .subs_form .form-group button{
        padding: 0 20px;
        font-size: var(--text-14);
    }

    .work_content{
        margin: 0;
        border-radius: 0;
        text-align: center;
        padding: 0 40px;
    }

    .work-img{
        display: none;
    }

    
    /*====================== RESPONSIVE BLOGS SECTION DESIGN
    ====================*/

    /********main blog section*****/

    .blogs_content.blogH{
        grid-template-columns: repeat(2,1fr);
    }

    .blogs_content.blogH .h-3,
    .blogs_content.blogH .h-2{
        grid-column: span 1;
    }

    #blogs .blogH .content_img{
        height: 110px;
    }
    .single_content .blog_details h3{
        line-height: 22px;
    }
    .single_content .blog_details h3 a{
        font-size: var(--text-14);
        line-height: 18px;
    }

    .single_content .blog_details p,
    .single_content .blog_details a
    {
        font-size: var(--text-12);
        line-height: 20px;
    }

    /*list blog*/

    .list .single_content .blog_details h3{
        font-size: var(--text-12);
        line-height: 26px;
    }

    /*============================ RESPONSIVE POST SECTION DESIGN ==========================*/

    .post_title h2{
        font-size: var(--text-20);
        line-height: 40px;
    }

    .posts{
        height: 150px;
    }

    .post_img {
        width:85%;
        height:150px;
    }

    .swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-vertical>.swiper-pagination-progressbar {
        left: 30px;
    }

    /*post content*/

    .post_content {
        margin-top: 0;
    }

    .post_texts blockquote{
        margin: 20px 0;
    }

    .post_texts blockquote p{
        font-size: var(--text-16); 
        margin: 15px 0;       
    }

    .post_texts blockquote h4{
        font-size: var(--text-16);
    }

    .post_texts h2{
        margin: 0;
        font-size: var(--text-20);
    }

    .divider .dr{
        width: 50%;
    }

    .divider a{
        font-size: var(--text-14);
    }

    .post_time{
        justify-content: flex-start;
    }

    /*============================ RESPONSIVE PODECASE HERO SECTION DESIGN ==========================*/

    .hero-details h3{
        font-size: var(--text-24);
        line-height: 40px;
    }

    .hero-details p{
        font-size: var(--text-14);
        overflow-wrap: break-word;
        line-height:var(--text-24);
    }
   
    .episode_content{
        grid-template-columns: repeat(1,1fr);
    } 

    .ep_details{
        padding:20px;
    }

    .ep_details h3 a{
        font-size: var(--text-16);
    }

    .ep_details p{
        font-size: var(--text-14);
        margin:10px 0;
    }

    .podcast_hero-text h2{
        font-size: var(--text-20);
    }

    .podcast_hero-text{
        padding-right: 0;
    }

    .episode_context {
        padding: 30px 0;
    }
   
    .podecast_title h1 {
        font-size: var(--text-24);
    }

    .episode_context h2 {
        font-size: var(--text-18);
        line-height: 24px;
    }

    .profile h3{
        font-size:var(--text-18);
    }

    .profile p{
        font-size: var(--clr-14);
    }
}

@media screen and (max-width: 480px){


    /*============================ RESPONSIVE HERO SECTION DESIGN ==========================*/

    .img-content img{
        width:250px;
        height: auto;
    }

    .img-content .btn{
        top:35px;
        right: -12px;
    }

    .hero_title{
        font-size: var(--text-20);
    }

    .btn-group{
        flex-direction: column;
        row-gap: 12px;
        align-items: start;
    }

    .btn_bdr{
        margin-left: 0;
    }

    /*============================ RESPONSIVE SINGLE CASES DESIGN ==========================*/

    .cases .single_case{
        grid-template-columns: 1fr;
        padding:30px;
    }

    .case_picture .pictures{
        display: none;
    }
    
 /*============================ RESPONSIVE SINGLE BOXES DESIGN ==========================*/
    .single-box {
        height: 200px;
    }

    .single-box img{
       display: none;
    }

    .single-box .btn-box{
        top: 20px;
        left: 20px;
        padding: 14px 18px;
        font-size: var(--text-12);
    }

    .box-details .box-images div{
        background-color: transparent;
        padding:0;

    }

    /*============================ RESPONSIVE SUBSCRIPTION SECTION DESIGN ==========================*/

    .subs_details h2{
        font-size: var(--text-20);
    }
    
    .subs_form .form-group input,
    .subs_form .form-group button{
        margin-top: 10px;
    }

    /*============================ RESPONSIVE BLOG HERO SECTION DESIGN ==========================*/
    .hero-content .vision{
        right:20px;
    }

    .blog_content .hero_img-contents{
        height: 225px;
    }

    .blog_content .img-content img{
        width: 280px;
    }

    .blog_content .img-content .back-img{
        top: -40px;
        right: 45px;
    }

    .blog_content .img-content .back-img img{
        width:200px;
    }
    
    /*list blog*/

    #blogs .list .single_content{
        grid-template-columns: repeat(1,1fr);
        margin:10px 0;
    }

    /*============================ RESPONSIVE PODECASE HERO SECTION DESIGN ==========================*/


    .podecast_img-content {
        width: 260px;
        height: 250px;
    }

    .podecast_img-content img {
        width: 180px;
    }

    .graph_content{
        grid-template-columns: repeat(1,1fr);
    }
    .single_graph.up{
        transform: translateY(0);
    }

    .graph_text h2 {
        font-size: var(--text-32);
    }

    .graph_text h3 {
        font-size: var(--text-18);
    }

    .graph_img img{
        width:100px;
        height: 100px;
    }
}